.add-new {
  margin-bottom: 16px;
}

table {
  width: 100%;
  max-width: 800px;

  .column-actions {
    display: flex;
    justify-content: flex-end;

    button:not(:last-child) {
      margin-right: 8px;
    }
  }

  .mat-row {
    &:hover {
      background-color: aliceblue;
    }

    &:not(:hover) .column-actions {
      visibility: hidden;
    }
  }
}
