.manage-container {
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - 64px);

  .manage-sidebar {
    width: 250px;
    border-right: 2px inset;
  }

  .manage-content {
    flex: 1;
    padding: 16px;
  }
}