table {
  width: 100%;

  .mat-header-row {
    .mat-column-selection,
    .mat-column-id {
      width: 60px;
    }

    .mat-column-status {
      width: 100px;
    }
  }

  .mat-row {
    &:hover {
      background-color: aliceblue;
    }

    &:not(:hover) .mat-column-actions * {
      visibility: hidden;
    }

    .mat-column-status {
      color: gray;

      &.published-article {
        color: green;
      }
    }

    .mat-column-actions {
      text-align: end;

      button {
        margin-right: 8px;
      }
    }
  }
}

.add-new {
  margin-bottom: 16px;
}

.no-data {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.collection-footer-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
}

.bulk-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  text-align: center;
  background-color: white;

  button:not(:last-child) {
    margin-right: 8px;
  }
}