<div class="home-container">
    <mat-spinner *ngIf="isLoading" [diameter]="30"></mat-spinner>

    <div *ngIf="articles$ | async as articles;" class="article-list">
        <div *ngFor="let article of articles; trackBy: trackByArticleId" class="article-list__item">

            <a class="article-list__item__title" [routerLink]="'/article/' + article.id">
                {{ article.title }}
            </a>

            <div class="article-list__item__info">
                <span class="published-info">{{ article.publishedAt | date: 'd-MMMM-y H:m' }}</span>

                <div class="tag-info">
                    <mat-chip-list>
                        <mat-chip *ngFor="let tag of article.tags; trackBy: trackByTagId">
                            {{ tag.name }}
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>

            <p>{{ article.description }}</p>
        </div>
    </div>
</div>
