<form class="register-form mat-elevation-z3" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width-field">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="">
        <mat-error *ngIf="form.controls.name.errors?.required">The name field is required.</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width-field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="pat@example.com">
        <mat-error *ngIf="form.controls.email.errors?.email">invalid</mat-error>
        <mat-error *ngIf="form.controls.email.errors?.required">The email field is required.</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width-field">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" autocomplete="off">
        <mat-error *ngIf="form.controls.password.errors?.required">The password field is required.</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width-field">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" autocomplete="off">
        <mat-error *ngIf="form.controls.confirmPassword.errors?.invalid">
            Your password and confirmation password do not match.
        </mat-error>
    </mat-form-field>
    <div class="actions">
        <button type="submit" color="primary" mat-raised-button>Sign up</button>
        <a mat-button routerLink="/login">If you already have an account, login here</a>
    </div>
</form>