form {
  width: 100%;
  margin-bottom: 16px;

  .mat-form-field {
    width: 100%;
  }

  .tag-selection {
    margin-bottom: 20px;
    display: block;
  }
}

.actions {
  margin-bottom: 32px;

  button:not(:last-child) {
    margin-right: 20px;
  }
}