/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

$custom-typography: mat-typography-config(
  $font-family: '-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;'
);

@include mat-core($custom-typography);