.article {
  max-width: 664px;
  padding: 32px;
  box-sizing: border-box;
  margin: 32px auto;
  word-break: break-all;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
}